.container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(50%, 30rem);
  height: 6rem;
  padding: 2rem 4rem;
  border-radius: 1rem;

  .clock {
    font-size: clamp(2rem, 8vw, 5rem);
    font-family: $principal-font-clock;
  }
}
