body.dark-mode {
  background-color: $bg-black-color;
  color: #f2f2f2;
  transition: 1s all;
  
  .container {
    background: $bg-black-color;
    box-shadow: 10px 10px 20px #3a3a3a, -10px -10px 20px #000000;
  }
  button {
    background-color: #f2f2f2;
    color: $bg-black-color;
  }

  .clock {
    color: #f2f2f2;
    text-shadow: 4px -2px 48px rgba(255, 255, 255, 0.5);
  }
}
