body.light-mode {
  background-color:$bg-white-color;

  button {
    background-color: $bg-black-color;
    color: $bg-white-color;
  }
  
  .clock {
    color: $bg-black-color;
    text-shadow: -4px -4px 12px rgb(172, 172, 172), 4px 4px 12px rgb(172, 172, 172),
    4px 4px 12px rgb(172, 172, 172), 4px 4px 12px rgb(172, 172, 172);
  }
}
