$bg-white-color: #ebebeb;
$bg-black-color: #181818;
$text-shadow-color: #2d9fa3;
$bg-btn-lightmode-color: linear-gradient(#dbc602, #db8f02);
$bg-btn-darkmode-color: linear-gradient(#dbc602, #e2dca3);
$principal-font-clock: "PT Mono", monospace;